DB_HOST=localhost
DB_PORT=5432
DB_NAME=nombre_db
DB_USER=usuario
DB_PASSWORD=contraseña

JWT_KEY=UTUXSpZAvs1uzUUPHEAkjytWoAszbFgKBqpYb4l7D93eDRN9P2h+m2vKkGLrU7xq
JWT_ISSUER=SistemaServicios.API
JWT_AUDIENCE=SistemaServicios.Client
JWT_EXPIRES_MINUTES=60

ALLOWED_ORIGINS=http://localhost:3000

NEXT_PUBLIC_ALLOWED_PATH=http://localhost:5000

SMTP_HOST= aqui va el host del servidor SMTP
SMTP_PORT=587
SMTP_USER= usuario del correo
SMTP_PASSWORD= bsdfsbfdiufibdupasswordjnsjfsbj
SMTP_FROM= remitente
